@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root {
  --primary: #7AFA8B;;
  --bg: var(--primary);
  --text: #1d1d1f;
  --muted: #666;
  --radius: 5px;
  --gap: 14px;
  --max: 1100px;
  --shadow: 0 2px 10px rgba(0, 0, 0, .06);
  --font: 'Gloock', serif;
}

html,
body {
  height: 100%
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
}