.contenedorSeccion {
	background-color: #fff;
	border-radius: var(--radius);
	margin: 8px;
	padding: 16px;
}

/* ---- Contenido Interes ---- */

.contenedorContenidoInteres {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: var(--gap);

	align-content: space-between;
	justify-content: space-around;

	padding: 8px;
}

.itemContenidoInteres {
	position: relative;
	padding: 8px;
	display: flex;
	flex-direction: row;

	height: 150px;

	gap: var(--gap);
	width: 40%;
}

@media only screen and (max-width: 768px) {
	.contenedorContenidoInteres {
		flex-direction: column;
	}

	.itemContenidoInteres {
		width: 100%;
	}
}

.itemContenidoInteres::after {
	content: "Ver más";
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;

	color: #fff;
	font-size: 18px;
	font-weight: bold;

	background: rgba(0, 0, 0, 0.6);
	border-radius: var(--radius);
	opacity: 0;
	inset: 0;
	transition: opacity .5s ease;
}

.itemContenidoInteres:hover::after {
	opacity: 1;
	cursor: pointer;
}

.itemContenidoInteres img {
	width: 50%;
	object-fit: contain;
}

.itemContenidoInteres p {
	overflow: overlay;
}


/* ---- Directorio ---- */

.contenedorDirectorio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: var(--gap);
}

.itemDirectorio {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.itemDirectorio img {
	height: 80px;
	object-fit: contain;
	border-radius: var(--radius);
}

.itemDirectorio span {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.itemDirectorio p {
	font-weight: bold;
}

.itemDirectorio a {
	color: var(--text);
	text-decoration: none;

	display: inline-flex;
	align-items: center;
	gap: 6px
}

.itemDirectorio a::before {
	content: "";
	display: inline-block;
	background: url("../../assets/llamar.png");
	width: 16px;
	height: 16px;
	background-size: contain;
	background-repeat: no-repeat
}